.App {
  text-align: center;
}



.auto-hidden-left{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  animation: fade-left 1.5s ease;
}
.auto-active-left{
  transform: translate(0);
  opacity: 1;
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.auto-hidden-right{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  animation: fade-right 1.5s ease;
}
.auto-active-right{
  transform: translate(0);
  opacity: 1;
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}





.auto-reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.auto-reveal.active{
  transform: translateY(0);
  opacity: 1;
}

#homeProfilePic{
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: 1s;
}

#homeProfilePic:hover{
  border-radius: 69% 30% 39% 55% / 52% 35% 27% 43% ;
  
}

.logoTitle{
  font-size: 1.5em;
}

.showLogoTitle{
  transition: 0.2s;
}
.showLogoTitle:hover{
 cursor: pointer;
 transform: scale(1.2);
}

textarea {
  resize: none;
}